.dashboard-wrapper {
  padding: 16px;
}

.dashboard-main {
  display: flex;
  margin-bottom: 16px;
}

.dashboard-profile {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
}

.user-info-card {
  margin-top: 16px;
  p {
    font-weight: bold;
  }
}

.user-icons {
  text-align: center;
}

.dashboard-body {
  flex-grow: 1;
  margin-left: 20px;
  background-color: white;
  padding: 16px;
}

.dashboard-buttons {
  display: flex;
  margin-bottom: 15px;
}

.btn-dashboard {
  text-decoration: none;
  color: grey;
  padding: 10px 0;
  margin-right: 10px;
}

.btn-dashboard:hover {
  color: #EF5466;
}

.btn-dashboard.active {
  color: #EF5466;
  font-weight: bold;
  border-bottom: solid 4px #EF5466;
}

.pet-booking-info {
  display: flex;
  // border: 1px solid rgb(200,200,200);
  border-radius: 5px;
  margin-bottom: 10px;
  border-color: #EF5466;
  box-shadow: 2px 2px 5px #EF5466;
} 

.pet-dashboard-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-bookings-list {
  flex-grow: 1;
  padding: 10px 10px 10px 0;
}

.pet-booking-item {
  background-color: #EF5466;
  flex-grow: 1;
  border-radius: 5px;
  padding: 5px;
  color: white;
  border: thick double white;
  margin-bottom: 5px;
}

.pet-booking-item:last-child {
  margin-bottom: 0;
}

.btn-acd {
  text-decoration: none;
  color: #EF5466;
  background-color: white;
  border-radius: 20px;
  padding: 6px;
}

.btn-acd:hover {
  text-decoration: none;
  font-weight: bold;
  color: #EF5466;
}

#dashboard-avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}

#pet-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

