// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "show";

@media(min-width: 992px) {
  .pets-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .pets-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .pets-grid {
    grid-template-columns: 1fr;
  }
}

.main-container {
  display: flex;
  margin: 0 100px;
}

.grid-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pets-grid {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
}

.pet-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.pet-card > img {
  object-fit: cover;
  height: 360px;
  width: 100%;
}

.pet-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.pet-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.pet-card .pet-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.index-form {
  margin-top: 16px;
}

