// Import page-specific CSS files here.
@import "home";
@import "dashboard";

@media(min-width: 992px) {
  .pets-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .pets-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .pets-grid {
    grid-template-columns: 1fr;
  }
}

.main-container {
  display: flex
}

.pets-card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pets-grid {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
  flex-grow: 1;
}

.show-card {
  display: block;
  align-items: justify;
  justify-content: space-around;
  max-width: 400px;
  text-align: justify;
  line-height: 1.5 !important;
}

.show-card > h5 {
  line-height: 1.7 !important;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
