 <div class="banner">
    <h1>Rent a pet </h1>
    <div class="d-flex justify-content-center">
    <%= link_to "See all pets", pets_path, class: "btn btn-outline-danger" %>
  </div>
</div>

<h1>How it works</h1>

<div class = "description">
  <div class = "card"> 
    <h2>Find a pet</h2>
    <p>There are so many <br>
     lovely pets here. <br>
     There is also one for you.<br> 
     Take a look!<br>
    </p>
  </div>
  <div class = "card"> 
    <h2>Send a request</h2>
    <p>When you have <br>
     found the perfect 
     animal  
    </p>
  </div>
  <div class = "card"> 
    <h2>Pick up the pet</h2>
    <p> Its time to shine and picking up your favorite pet <br>
    </p>
  </div>
</div>

<h1>Pets of the day</h1>



