.main-btn {
    color: white;
    background-color: #ef5466;
    border: 2px solid;
    border-radius: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    text-decoration: none;
    // -webkit-transition-property: background-color,color,opacity;
}
 
.main-btn:hover {
    color: #0E0000;
    text-decoration: none;   
}

#new-btn {
    width: fit-content;
}
