.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #FFFFFF;
}
.footer .fa-heart {
  color: #EC0759;}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
