.pet-picture {
background-size: cover;

}

h1 {
  text-align: center;
  margin-top: 25px;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.card {
  width: 250px;
  height: 200px;
  text-align: justify;
  padding: 10px;
  margin-top: 20px;
  background-color: #F4F4F4;
  border-style: none;
}

.banner {
  background-image: url(/assets/dog.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  padding: 150px 0;
  background-size: cover;
  margin: 0 !important;

}
.banner h1 {
  margin: 15px;
  color: #EC0759;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  }

  .show-card {
    display: block;
    align-items: justify;
    justify-content: space-around;
    max-width: 400px;
    text-align: justify;
    line-height: 1.5 !important;
  }
  
  .show-card > h5 {
    line-height: 1.7 !important;
  }
  
  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }
  
  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  
  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  
  .card-product .card-product-infos {
    padding: 16px;
  }