.pet-picture {
background-size: cover;

}

h1 {
text-align: center;
margin-top: 25px;
}

.description {
display: flex;
justify-content: space-around;
align-items: center;
}

.card {
width: 250px;
height: 200px;
text-align: center;
padding: 10px;
margin-top: 20px;
}